{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    "transform-flow-strip-types",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@root": "./src/",
        "@base": "./src/base",
        "@helpers": "./src/helpers",
        "@hooks": "./src/hooks",
      }
    }]
  ],
}
