{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    "transform-flow-strip-types",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@helpers": "./src/helpers",
      }
    }]
  ],
}
